.conteudo {
    width: 1920px;
    height: 1080px;
    position: fixed;
    left: calc(50% - 1920px / 2);
    top: calc(50% - 1080px / 2);
    margin: auto;
}

/**********************************************************/
/******************* vire o celular ***********************/
/**********************************************************/

.p-paisagem {
    color: white;
    text-align: center;
}

.img-paisagem {
    max-width: 70% !important;
    height: auto;
    display: block;
}

@media only screen and (orientation: portrait) {
    .modo-smart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #7c88e7;
        z-index: 9999999999999999999;
    }
}

/**********************************************************/
/****************** estilo botoes *************************/
/**********************************************************/

.btn-transparente {
    border-radius: 100%;
    border: 1px solid aliceblue;
}

.btn-transparente:hover {
    background-color: #f3e38e;
    opacity: 0.4;
}

.grupo-btn-teclado {
    top: 142px;
    left: 49px;
    width: 468px;
    height: 240px;
}

.btn-teclado {
    width: 37px;
    height: 52px;
    margin-inline: 7px;
    border-radius: 10px;
    background-color: none !important;
    opacity: 0;
    text-align: center !important;
    padding: 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-teclado:hover {
    background-color: white;
    border: 2px solid aliceblue;
    color: #383838;
    font-size: 21px;
    opacity: 1;
}

.btn-voltar {
    right: 5px;
    top: 5px;
    border: 4px solid black;
    font-size: 52px !important;
    background-color: #f3e38e;
    width: 20%;
    padding: 2px;
    border-radius: 20px;
}

.btn-voltar:hover {
    background-color: #66240e;
    color: white;
}

#btnValidarAno {
    top: 571px;
    left: 534px;
    background-color: #d5b847 !important;
    color: #151515;
    border: 2px solid black;
    width: 224px;
    height: 47px;
    border-radius: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-ampliar {
    transition: transform 0.2s ease-in-out;
}

.btn-ampliar:hover {
    transform: scale(1.5);
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    font-size: 48px !important;
    padding: 6px;
}

.meuBotao {
    background-color: #d5b847;
    color: #151515;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    cursor: pointer;
    top: 948px;
    left: 1779px;
    border-radius: 51px;
    border: 4px solid black;
    width: 100px;
    height: 100px;
}

.meuBotao i {
    font-size: 75px;
    vertical-align: middle;
}

/**********************************************************/
/****************** maquina do tempo **********************/
/**********************************************************/

.peca-top,
.peca-left,
.peca-right {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.peca-tela {
    left: 490px;
    top: -66px;
}

.peca-top {
    left: 733px;
    top: 175px;
    animation-name: moverPecaTopo;
}

.peca-teclado {
    left: 719px;
    top: 179px;
    animation: moverTeclado 3s forwards;
}

.peca-left {
    left: 554px;
    top: -4px;
    animation-name: moverPecaLeft;
}

.peca-right {
    right: 534px;
    top: 218px;
    animation-name: moverPecaRigth;
}

.peca-left-teclado {
    animation: moverPecaLeftTecladoMeio 6s forwards;
}

.peca-left-teclado-2 {
    animation: moverPecaLeftTeclado2 9s forwards !important;
}

.img-left-teclado {
    width: 65%;
}

.peca-right-teclado {
    top: 268px;
    right: 559px;
    animation: moverPecaRightTeclado 6s forwards !important;
}


/* animaçãoes */

@keyframes moverPecaTopo {
    to {
        top: 5px;
    }
}

@keyframes moverTeclado {
    to {
        top: 541px;
    }
}

@keyframes moverPecaLeft {
    to {
        left: 432px;
    }
}

@keyframes moverPecaRigth {
    to {
        right: 320px;
    }
}

@keyframes moverPecaRigth {
    to {
        right: 320px;
    }
}


@keyframes moverPecaLeftTecladoMeio {
    0% {
        top: 232px;
        left: 725px
    }

    50% {
        left: 725px;
        top: 662px;
    }

    100% {
        top: 650px;
        left: 531px;
    }
}

@keyframes moverPecaLeftTeclado2 {
    0% {
        top: 232px;
        left: 715px;
    }

    50% {
        top: 566px;
        left: 715px;
    }

    100% {
        top: 558px;
        left: 254px;
    }
}


@keyframes moverPecaRightTeclado {
    0% {
        top: 200px;
        right: 559px;
    }

    50% {
        top: 649px;
        right: 559px;
    }

    100% {
        top: 671px;
        right: 129px;
    }
}

/* botões teclado */

#es {
    width: 153px;
    margin-inline: 3px;
}

#en {
    width: 72px;
}

#del {
    font-size: 43px;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group> :not(.btn-check)+.btn {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#texto {
    top: 303px;
    width: 662px;
    left: 112px;
    height: 230px;
    font-size: 30px;
    background-color: #00e7ff;
    border: none;
}


/**********************************************************/
/******************* página anos 30 ***********************/
/**********************************************************/

#conteudo-01 {
    top: 237px;
    left: 287px;
    width: 236px;
    height: 234px;
}

#conteudo-02 {
    top: 471px;
    left: 336px;
    width: 161px;
    height: 130px;
}

#conteudo-03 {
    top: 553px;
    left: 540px;
    width: 172px;
    height: 151px;
}

#conteudo-04 {
    top: 820px;
    left: 1553px;
    width: 198px;
    height: 293px;
}


/**********************************************************/
/******************* página anos 70 ***********************/
/**********************************************************/

#conteudo-05 {
    top: 103px;
    left: 257px;
    width: 595px;
    height: 707px;
}

#conteudo-06 {
    top: 510px;
    left: 1349px;
    width: 302px;
    height: 274px;
}


/**********************************************************/
/******************* página anos 80 ***********************/
/**********************************************************/

#conteudo-07 {
    top: 67px;
    left: 56px;
    width: 253px;
    height: 236px;
}

#conteudo-08 {
    top: -3px;
    right: 330px;
    width: 336px;
    height: 400px;
}

#conteudo-09 {
    top: 838px;
    right: 361px;
    width: 230px;
    height: 200px;
}

/**********************************************************/
/******************* página anos 90 ***********************/
/**********************************************************/

#conteudo-10 {
    top: -64px;
    left: -53px;
    width: 448px;
    height: 852px;
    transform: rotate(10deg);
}

#conteudo-11 {
    top: 33px;
    left: 437px;
    width: 300px;
    height: 498px;
}

#conteudo-12 {
    top: 570px;
    right: -24px;
    width: 179px;
    height: 430px;
}

/**********************************************************/
/****************** página anos 2000 **********************/
/**********************************************************/

#conteudo-13 {
    top: -64px;
    left: -53px;
    width: 383px;
    height: 852px;
}

#conteudo-14 {
    top: 483px;
    left: 335px;
    width: 407px;
    height: 585px;
}

#conteudo-15 {
    top: 147px;
    right: -116px;
    width: 1285px;
    height: 539px;
    transform: rotate(-18deg);
}


/**********************************************************/
/********************* estilo modais **********************/
/**********************************************************/

.header-30 {
    background-color: #798562;
    color: white;
}

.header-70 {
    background-color: #ff6b2d;
    color: white;
}

.header-80 {
    background-color: #624391;
    color: white;
}

.header-90 {
    background-color: #22b0e3;
    color: white;
}

.header-2000 {
    background-color: #3e54c0;
    color: white;
}

.fecha-modal {
    background-color: #c82637;
    color: white;
    border: 2px solid black;
}